<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="vote-header">
        <div class="modal fade" id="loginModal" tabindex="-1"
             role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">登录</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label class="col-form-label">账号</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">密码</label>
                                <input type="password" class="form-control" id="login-password">
                            </div>
                            <div>
                                <input name="remember" type="checkbox" class="form-control" style="width: 5%;display: inline-block;">
                                <label class="col-form-label">记住我</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <span class="input-hint" style="display: none;color:#f00"></span>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btn-login">登录</button>
                        <button type="button" class="btn btn-success" id="btn-sign">注册</button>
                    </div>
                </div>
            </div>
        </div>
        <header>
            <label><a th:href="'/'+${local}+'/'">网上投票系统</a></label>
            <input class="form-control" type="text" id="search-vote">
            <div class="dropdown" th:if="${user}!=null">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" th:text="${user.username}"></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" th:href="'/'+${local}+'/user'">个人中心</a>
                    <a class="dropdown-item" th:href="'/'+${local}+'/user/exit'">退出</a>
                </div>
            </div>
            <button class="btn btn-primary" id="search-btn">search vote</button>
            <button class="btn btn-info" data-target="#loginModal" data-toggle="modal" th:if="${user}==null" id="login-btn">登录</button>
        </header>
    </div>
</body>
</html>