<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link th:href="'/'+${local}+'/css/core/bootstrap.min.css'" rel="stylesheet">
    <link th:href="'/'+${local}+'/css/header.css'" rel="stylesheet">
    <link th:href="'/'+${local}+'/css/signIn.css'" rel="stylesheet">
</head>

<body class="text-center">
    <div th:include="~{header::vote-header}"></div>
    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">登录</h1>
        <input id="inputAccount" class="form-control" placeholder="账号" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> 记住我
            </label>
        </div>
        <button id="signIn" class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        <button class="btn btn-lg btn-success btn-block" type="submit">注册</button>
        <div class="input-hint"></div>
        <p id="web-local" th:text="${local}" style="display: none;"></p>
    </div>
    <script th:src="'/'+${local}+'/js/core/jquery-3.2.1.js'"></script>
    <script th:src="'/'+${local}+'/js/core/popper.min.js'"></script>
    <script th:src="'/'+${local}+'/js/core/bootstrap.js'"></script>
    <script th:src="'/'+${local}+'/js/signIn.js'"></script>
    <script th:src="'/'+${local}+'/js/header.js'"></script>
</body>
</html>
