<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="'/'+${local}+'/css/core/bootstrap.min.css'" rel="stylesheet">
    <link th:href="'/'+${local}+'/css/user.css'" rel="stylesheet">
    <link th:href="'/'+${local}+'/css/header.css'" rel="stylesheet">
</head>
<body>
    <p id="user_id_recorder" th:text="${userID}"></p>
    <p style="display: none" th:text="${local}" id="web-local"></p>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">登录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label">账号</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">密码</label>
                            <input type="password" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span class="input-hint" style="display: none;color:#f00"></span>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btn-login">登录</button>
                    <button type="button" class="btn btn-success" id="btn-sign">注册</button>
                </div>
            </div>
        </div>
    </div>
    <header>
        <label><a th:href="'/'+${local}+'/home'">网上投票系统</a></label>
        <input class="form-control" type="text" id="search-vote">
        <button class="btn btn-primary" data-target=".modal-body">search</button>
        <!--<button class="btn btn-info" id="meOrLogin">Login</button>-->
        <!--<div>-->
            <!--<button class="btn btn-info" id="logout">log out</button>-->
        <!--</div>-->
        <button class="btn btn-info" data-target="#loginModal" data-toggle="modal" >login</button>
        <div class="dropdown" style="display: none">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Yosoro
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">个人中心</a>
                <a class="dropdown-item" href="#">退出</a>
            </div>
        </div>
    </header>
    <div class="main-container">
        <table>
            <tr>
                <th class="left-block">
                    <div class="menu-list" id="user-info-block"><p class="menu-title">用户信息</p>
                        <div>
                            <a th:href="'/'+${local}+'/user/'+${userID}">总览</a>
                            <a th:href="'/'+${local}+'/user/'+${userID}+'/userInfo'">个人信息</a>
                            <a th:href="'/'+${local}+'/user/'+${userID}+'/followList'">关注列表</a>
                            <a th:href="'/'+${local}+'/user/manage'">用户管理</a>
                            <a th:href="'/'+${local}+'/user/dustbinUser'">回收站</a>
                        </div>
                    </div>
                    <div class="menu-list" id="vote-info-block"><p class="menu-title">投票信息</p>
                        <div>
                            <a th:href="'/'+${local}+'/user/myVotes'">我的投票</a>
                            <a th:href="'/'+${local}+'/user/voteManage'">投票管理</a>
                            <a th:href="'/'+${local}+'/user/dustbinVote'">回收站</a>
                        </div>
                    </div>
                    <div class="menu-list" id="message-info-block"><p class="menu-title">留言信息</p>
                        <div>
                            <a th:href="'/'+${local}+'/user/myVoteMessage'">我的留言</a>
                            <a href="#">留言管理</a>
                            <a href="#">回收站</a>
                        </div>
                    </div>
                </th>
                <th class="right-block">
                    <h1 th:text="${title}">总览</h1>
                    <!--总览-->
                    <div th:if="${infoType}=='overview'" class="overview-block">
                        <div class="overview-user">
                            <h3>用户信息</h3>
                            <div>
                                <div>
                                    <p><span>用户名:</span><span th:text="${userInfo.account}"></span></p>
                                    <p><span>昵称:</span><span th:text="${userInfo.username}"></span></p>
                                    <p><span>上次登录</span><span th:text="${userInfo.lastLogin}" id="overview-lastlogin"></span></p>
                                </div>
                                <img th:src="'/'+${local}+'/avatar/'+${userInfo.getAvatar()}">
                            </div>
                            <p><span>个性签名:</span><span th:text="${userInfo.whatsUp}"></span></p>
                        </div>
                        <div class="overview-follow">
                            <h3>我关注的用户<button class="btn btn-info">更多</button></h3>
                            <table>
                                <tr>
                                    <th colspan="2">用户</th><th>上一次登录</th><th>关注日期</th>
                                </tr>
                                <tr th:each="followUser : ${followList}">
                                    <td><img th:src="'/'+${local}+'/avatar/'+${followUser.avatar}"></td>
                                    <td th:text="${followUser.username}"></td><td th:text="${followUser.lastLogin}"></td>
                                    <td th:text="${followUser.followTime}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!--用户信息-->
                    <div th:if="${infoType}=='userInfo' or ${infoType}=='modifyUser'" class="user-block" id="userInfo-block">
                        <div class="overview-user" id="user-info-show" th:style="${infoType}=='userInfo'?'':'display:none'">
                            <h3>用户信息<button class="btn btn-primary" id="btn-edit-user-info">编辑</button></h3>
                            <div>
                                <div>
                                    <p><span>用户名:</span><span th:text="${userInfo.account}">Yosoro</span></p>
                                    <p><span>昵称:</span><span th:text="${userInfo.username}">Yosiko</span></p>
                                    <p><span>上次登录</span><span th:text="${userInfo.lastLogin}">2018-08-01</span></p>
                                </div>
                                <img th:src="'/'+${local}+'/avatar/'+${userInfo.avatar}">
                            </div>
                            <div>
                                <p><span>性别:</span><span th:text="${userInfo.sex}=='female'?'女':'男'">女</span></p>
                                <p><span>邮箱:</span><span th:text="${userInfo.email}">1011206880@qq.com</span></p>
                                <p><span>电话号码:</span><span th:text="${userInfo.phone}">12345678910</span></p>
                                <p><span>生日:</span><span th:text="${userInfo.birth}">2018-09-10</span></p>
                            </div>
                            <p><span>个性签名:</span><span th:text="${userInfo.whatsUp}">there is nothing to show for you</span></p>
                        </div>
                        <div class="overview-user" id="user-info-edit"
                             th:style="${infoType}=='modifyUser'?'display:block':'display: none'">
                            <h3>编辑用户信息<button class="btn btn-primary" id="btn-edit-user-info-fin">完成</button></h3>
                            <div>
                                <p th:if="${infoType}=='modifyUser'" id="manage-modify-user-id" th:text="${userInfo.userId}"
                                    style="display:none"></p>
                                <div style="vertical-align: top">
                                    <p><span>用户名:</span><span th:text="${userInfo.account}">Yosoro</span></p>
                                    <p><span>昵称:</span><input class="form-control" name="username"
                                                              type="text" th:value="${userInfo.username}"></p>
                                    <p class="error-hint">账户长度应在4~16位</p>
                                </div>
                                <div style="display: inline-block;width: 29%;">
                                    <img th:src="'/'+${local}+'/avatar/'+${userInfo.avatar}">
                                    <input type="file" id="user-photo-file">
                                    <button class="btn btn-success" id="send-user-photo">上传图片</button>
                                    <p style="display: none">上传完成</p>
                                    <p style="display: none">上传中</p>
                                    <p style="display: none">图片格式不符</p>
                                </div>
                            </div>
                            <p style="margin-top: -115px;"><span>性别:</span>
                                <input class="form-control" type="radio" name="sex" value="male" th:checked="${userInfo.sex}=='male'">
                                <span style="width: 5%">男</span>
                                <input class="form-control" type="radio" name="sex" value="female" th:checked="${userInfo.sex}=='female'">
                                <span style="width: 5%">女</span>
                            </p>
                            <p><span>邮箱:</span><input class="form-control" type="email" th:value="${userInfo.email}" name="email"></p>
                            <p class="error-hint">邮箱格式不符</p>
                            <p><span>电话号码:</span><input class="form-control" type="number" name="phone" th:value="${userInfo.phone}"></p>
                            <p class="error-hint">电话号码长度不符</p>
                            <p><span>生日:</span><input class="form-control" type="date" name="birth"
                                       th:value="${stringDate}!=null?${stringDate}:''"></p>
                            <p class="error-hint">生日不能为空</p>
                            <p><span>个性签名:</span><textarea rows="5" class="form-control" name="whatsUp" th:text="${userInfo.whatsUp}"></textarea></p>
                            <p class="error-hint">个性签名长度为0~32</p>
                            <p th:if="${returnPage}!=null" th:text="${returnPage}" id="manage-return-page"></p>
                        </div>
                    </div>
                    <!--关注列表-->
                    <div th:if="${infoType}=='followList'" class="overview-follow" id="followList">
                        <table th:if="${followList.size()>0}">
                            <tr>
                                <th colspan="2">用户</th><th>上一次登录</th><th>关注日期</th><th>操作</th>
                            </tr>
                            <tr th:each="followUser :${followList}">
                                <td><img th:src="'/'+${local}+'/avatar/'+${followUser.avatar}"></td>
                                <td><a href="#" th:text="${followUser.username}"></a></td>
                                <td th:text="${followUser.lastLogin}"></td>
                                <td th:text="${followUser.followTime}"></td>
                                <td><button class="btn btn-danger">取消关注</button></td>
                            </tr>
                        </table>
                        <div th:if="${followList.size()>0}" class="skip-block">
                            <button class="btn btn-primary">上一页</button>
                            <span th:text="${index}">1</span>/
                            <span th:text="${total}">2</span><input class="form-control" type="number" >
                            <button class="btn btn-success">跳转</button>
                            <button class="btn btn-primary" >下一页</button>
                        </div>
                        <h2 th:if="${followList.size()}==0" style="text-align: center">
                            Sorry,你暂时没有关注的好友ㄟ( ▔, ▔ )ㄏ</h2>
                    </div>
                    <!--用户管理-->
                    <div th:if="(${infoType}=='userManage')and(${userInfo.type}==1)" class="user-manager">
                        <div style="min-height: 400px">
                            <table>
                                <tr>
                                    <th></th><th>账号</th><th>用户名</th><th>上一次登录</th><th colspan="3">操作</th>
                                </tr>
                                <tr th:each="user:${managedUser}">
                                    <td><img th:src="'/'+${local}+'/avatar/'+${user.avatar}"></td>
                                    <td><a href="#" th:text="${user.account}"></a></td>
                                    <td><a th:text="${user.username}" href="#"></a></td>
                                    <td th:text="${user.getLastLogin()}"></td>
                                    <td><button class="btn btn-info">修改</button></td>
                                    <td><button class="btn btn-danger">封禁</button></td>
                                    <td class="user-id-hide" th:text="${user.userId}"></td>
                                </tr>

                            </table>
                        </div>
                        <div class="skip-block">
                            <button class="btn btn-primary" >上一页</button>
                            <span th:text="${index}">1</span>/
                            <span th:text="${total}">2</span><input class="form-control" type="number" id="index">
                            <button class="btn btn-success">跳转</button>
                            <button class="btn btn-primary">下一页</button>
                        </div>
                    </div>
                    <!--我的投票-->
                    <div th:if="${infoType}=='userVotes'" class="user-vote-manager">
                        <div style="min-height: 400px">
                            <table>
                                <tr>
                                    <th>投票标题</th><th>我的投票</th><th>投票时间</th><th>状态</th>
                                </tr>
                                <tr th:each="voteHistory:${voteHistories}">
                                    <td><a th:text="${voteHistory.topicName}"
                                           th:href="'/'+${local}+'/voteSubject/'+${voteHistory.topicId}"></a></td>
                                    <td><p th:each="option:${voteHistory.getOptionNames()}" th:text="${option}"></p></td>
                                    <td th:text="${voteHistory.sendDate}">2015-08-23</td>
                                    <td th:text="${voteHistory.finished}?'已结束':'未结束'"
                                        th:style="${voteHistory.finished}?'color:red':'color:green'"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="skip-block">
                            <button class="btn btn-primary">上一页</button>
                            <span th:text="${index}">1</span>/
                            <span th:text="${total}">2</span><input class="form-control" type="number" >
                            <button class="btn btn-success">跳转</button>
                            <button class="btn btn-primary" >下一页</button>
                        </div>
                    </div>
                    <!--投票管理-->
                    <div th:if="${infoType}=='voteManage'" class="vote-manager">
                        <div style="min-height: 400px">
                            <table>
                                <tr><th>编号</th><th>投票标题</th><th>投票内容</th><th>发布时间</th><th colspan="2">操作</th></tr>
                                <tr th:each="voteItem:${voteList}">
                                    <td th:text="'#'+${voteItem.id}"></td>
                                    <td><a th:text="(${voteItem.topic.length()}>=10)?(${voteItem.topic.substring(0,10)}+'....')
                                    :${voteItem.topic}" th:href="'/'+${local}+'/voteSubject/'+${voteItem.id}"
                                    th:title="${voteItem.topic}">title</a></td>
                                    <td th:text="(${voteItem.content.length()}>=10)?(${voteItem.content.substring(0,10)}+'....')
                                    :${voteItem.content}" th:title="${voteItem.content}">content</td>
                                    <td th:text="${voteItem.createTime}">2015-09-02</td>
                                    <td><button class="btn btn-info" th:disabled="${!voteItem.modifiable}">修改</button></td>
                                    <td><button class="btn btn-danger">删除</button></td>
                                </tr>
                            </table>
                        </div>
                        <div class="skip-block">
                            <button class="btn btn-primary">上一页</button>
                            <span th:text="${index}">1</span>/
                            <span th:text="${total}">2</span><input class="form-control" type="number" >
                            <button class="btn btn-success">跳转</button>
                            <button class="btn btn-primary" >下一页</button>
                        </div>
                    </div>
                    <!--垃圾箱,可同时供3个使用-->
                    <div th:if="(${infoType}=='dustbinUser') or (${infoType}=='dustbinVote')" class="dustbin" th:id="${infoType}">
                        <div style="min-height: 400px">
                            <table>
                                <tr th:if="${infoType}=='dustbinUser'">
                                    <th colspan="2">用户账号</th><th>用户名</th>
                                    <th>封停时间</th><th>操作</th></tr>
                                <tr th:if="${infoType}=='dustbinVote'">
                                    <th>编号</th><th>投票标题</th><th>删除时间</th><th>操作</th></tr>
                                <tr th:if="${infoType}=='dustbinUser'" th:each="banedUser:${userList}">
                                    <td><img th:src="'/'+${local}+'/avatar/'+${banedUser.avatar}" alt="user avatar"></td>
                                    <td th:text="${banedUser.account}">account</td>
                                    <td th:text="${banedUser.username}">username</td>
                                    <td th:text="${banedUser.bannedTime}">2015-08-07</td>
                                    <td><button class="btn btn-info">恢复</button></td>
                                    <td style="display: none" id="bannedUserId" th:text="${banedUser.userId}"></td>
                                </tr>
                                <tr th:if="${infoType}=='dustbinVote'" th:each="bannedTopic:${bannedList}">
                                    <td th:text="'#'+${bannedTopic.voteId}"></td>
                                    <td th:text="${bannedTopic.voteName}">test for title</td>
                                    <td th:text="${bannedTopic.bannedTime}">2015-08-07</td>
                                    <td><button class="btn btn-info">恢复</button></td>
                                    <td style="display: none" th:text="${bannedTopic.banId}"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="skip-block">
                            <button class="btn btn-primary">上一页</button>
                            <span th:text="${index}">1</span>/
                            <span th:text="${total}">2</span><input class="form-control" type="number" >
                            <button class="btn btn-success">跳转</button>
                            <button class="btn btn-primary" >下一页</button>
                        </div>
                    </div>
                    <!--我的留言-->
                    <div th:if="${infoType}=='myVoteMessage'" class="user-message">
                        <div style="min-height: 400px">
                            <table>
                                <tr><th>投票标题</th><th>留言内容</th><th>留言时间</th><th colspan="2">操作</th></tr>
                                <tr th:each="message:${voteMessageList}">
                                    <td><a th:href="'/'+${local}+'/voteSubject/'+${message.voteId}"
                                           th:text="${message.voteTitle}">test for title</a></td>
                                    <td><a th:href="'/'+${local}+'/voteSubject/'+${message.voteId}"
                                           th:text="${message.content}">test for message</a></td>
                                    <td th:text="${message.sendTime}">时间</td>
                                    <td><button class="btn btn-info">修改</button></td>
                                    <td><button class="btn btn-danger">删除</button></td>
                                    <td th:text="${message.voteId}" style="display:none"></td>
                                    <td th:text="${message.id}" style="display:none"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="skip-block">
                            <button class="btn btn-primary">上一页</button>
                            <span th:text="${index}">1</span>/
                            <span th:text="${total}">2</span><input class="form-control" type="number" >
                            <button class="btn btn-success">跳转</button>
                            <button class="btn btn-primary" >下一页</button>
                        </div>
                    </div>
                    <!--留言管理-->
                    <div style="display: none" class="message-manager">
                        <div style="min-height: 400px">
                            <table>
                                <tr><th>id</th><th>投票标题</th><th>用户名</th><th>留言内容</th><th colspan="3">操作</th>
                                </tr><tr><td>#1</td><td><a href="#">test for title</a></td>
                                    <td>Yosoro</td>
                                    <td><a href="#">test for message</a></td><td><a href="#">删除</a></td>
                                <td><a href="#">查看</a></td><td><a href="#">查看</a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="skip-block">
                            <button class="btn btn-primary">上一页</button>
                            <span >1</span>/
                            <span >2</span><input class="form-control" type="number" >
                            <button class="btn btn-success">跳转</button>
                            <button class="btn btn-primary" >下一页</button>
                        </div>
                    </div>
                </th>
            </tr>
        </table>
    </div>

    <script th:src="'/'+${local}+'/js/core/jquery-3.2.1.js'"></script>
    <script th:src="'/'+${local}+'/js/core/popper.min.js'"></script>
    <script th:src="'/'+${local}+'/js/core/bootstrap.js'"></script>
    <script th:src="'/'+${local}+'/js/user.js'"></script>
    <script th:src="'/'+${local}+'/js/header.js'"></script>
</body>
</html>