<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="'/'+${local}+'/css/core/bootstrap.min.css'" rel="stylesheet">
    <link th:href="'/'+${local}+'/css/user.css'" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <table>
            <tr>
                <div class="left-block"></div>
                <div class="right-block"></div>
            </tr>
        </table>
    </div>

    <script th:src="'/'+${local}+'/js/core/jquery-3.2.1.js'"></script>
    <script th:src="'/'+${local}+'/js/core/bootstrap.js'"></script>
</body>
</html>