<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="'/'+${local}+'/css/core/bootstrap.min.css'" rel="stylesheet">
    <link th:href="'/'+${local}+'/css/user.css'" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <table>
            <tr>
                <th class="left-block">
                    <div class="menu-list"><p class="menu-title">用户信息</p>
                        <a>总览</a>
                        <a>个人信息</a>
                        <a>关注列表</a>
                        <a>用户管理</a>
                    </div>
                    <div class="menu-list"><p class="menu-title">投票信息</p>
                        <a>我的投票</a>
                        <a>投票管理</a>
                        <a>回收站</a>
                    </div>
                    <div class="menu-list"><p class="menu-title">留言信息</p>
                        <a>我的留言</a>
                        <a>留言管理</a>
                        <a>回收站</a>
                    </div>
                </th>
                <th class="right-block">

                </th>
            </tr>
        </table>
    </div>

    <script th:src="'/'+${local}+'/js/core/jquery-3.2.1.js'"></script>
    <script th:src="'/'+${local}+'/js/core/bootstrap.js'"></script>
</body>
</html>