<!DOCTYPE html>
<html xmlns:th="http://www.thymealeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="'/'+${local}+'/css/core/bootstrap.min.css'" rel="stylesheet">
    <link th:href="'/'+${local}+'/css/voteUpload.css'" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <h1>发起投票</h1>
        <p><span>标题: </span><input type="text" class="form-control" placeholder="投票标题,不多于32字" name="title">

        </p>
        <p><span>描述：</span>
            <textarea class="form-control" placeholder="投票描述(内容不多于250字)" rows="3" name="content"></textarea>
        </p>
        <p><span style="margin-right: 1%;">投票选项类型:</span>
            单选<input class="form-control" type="radio" name="vote_type" value="single" checked>
            多选<input class="form-control" type="radio" name="vote_type" value="multi">
        </p>
        <p id="max_count"><span>多选最大数:</span><input class="form-control" name="multi_max_count" type="number"></p>
        <div class="option-block"><button class="btn btn-success" id="addOption">新增</button>
            <button class="btn btn-danger" id="delOption">删除</button></div>
        <div class="vote-block">
            <p class="vote_option"><span>选项1:</span><input class="form-control" type="text" name="vote_option"></p>
            <p class="vote_option"><span>选项2:</span><input class="form-control" type="text" name="vote_option"></p>
        </div>
        <p><button class="btn btn-success" id="send-vote">发起投票</button></p>
    </div>
    <script th:src="'/'+${local}+'/js/core/jquery-3.2.1.js'"></script>
    <script th:src="'/'+${local}+'/js/voteUpload.js'"></script>
</body>
</html>