<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="'/'+${local}+'/css/core/bootstrap.min.css'" rel="stylesheet">
    <link th:href="'/'+${local}+'/css/voteSubject.css'" rel="stylesheet">
</head>
<body>
    <table>
        <tr>
            <td class="left-block">
                <img>
                <p>userName</p>
                <p>测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                <p>上一次登陆:2018-07-25</p>
            </td>
            <td class="right-block">
                <h1>this is the title for test</h1>
                <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                    测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                </p>
                <p style="vertical-align: center">投票时间：<span class="vote-time">2018-09-10</span>到<span class="vote-time">2018-10-10</span></p>
                <div>
                    <span class="vote-line"><input type="radio" name="vote_option">投票选项投票选项投票选项投票选项</span>
                    <div class="vote-progress">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <span class="vote-count">200票</span>
                </div>
                <div>
                    <span class="vote-line"><input type="radio" name="vote_option">投票选项投票3</span>
                    <div class="vote-progress">
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <span class="vote-count">200票</span>
                </div>
                <div>
                    <span class="vote-line"><input type="radio" name="vote_option">投票选项投票选2票选项</span>
                    <div class="vote-progress">
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <span class="vote-count">200票</span>
                </div>
                <button class="btn btn-primary" disabled id="confirm-vote">确认投票</button>
            </td>
        </tr>
    </table>
    <script th:src="'/'+${local}+'/js/core/jquery-3.2.1.js'"></script>
    <script th:src="'/'+${local}+'/js/voteSubject.js'"></script>
</body>
</html>