<!DOCTYPE html>
<html xmlns:th="http://www.thymealeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="'/'+${local}+'/css/core/bootstrap.min.css'" rel="stylesheet">
    <link th:href="'/'+${local}+'/css/voteUpload.css'" rel="stylesheet">
</head>
<body>
    <p id="user-id" th:text="${userID}" style="display: none"></p>
    <p id="web-local" th:text="${local}" style="display: none;"></p>
    <div class="main-container">
        <h1 th:text="${title}"></h1>
        <p th:if="${voteInfo}!=null"><span th:text="'#'+${voteInfo.id}" id="vote-topic-id"></span></p>
        <p><span>标题: </span><input type="text" class="form-control" placeholder="投票标题,不多于32字"
                                   name="title" th:value="${voteInfo}!=null?${voteInfo.topic}:''"></p>
        <p><span>描述：</span>
            <textarea class="form-control" placeholder="投票描述(内容不多于250字)" rows="3" name="content"
                th:text="${voteInfo}!=null?${voteInfo.content}:''"></textarea>
        </p>
        <p><span style="margin-right: 1%;">投票选项类型:</span>
            单选<input class="form-control" type="radio" name="vote_type" value="single"
                     th:checked="(${voteInfo}!=null)?${!voteInfo.isMulti}:true">
            多选<input class="form-control" type="radio" name="vote_type" value="multi"
                     th:checked="(${voteInfo}!=null)?${voteInfo.isMulti}:false">
        </p>
        <p id="max_count" th:style="(${voteInfo}!=null)?((${voteInfo.isMulti})?'display:block':''):''">
            <span>多选最大数:</span>
            <input class="form-control" name="multi_max_count" type="number" min="1"
                    th:value="${voteInfo}!=null?${voteInfo.totalVoteCount}:'2'"/></p>
        <p><span>开始时间:</span>
            <input type="datetime-local" name="start-time" class="form-control" th:value="${startTime}"></p>
        <p><span>结束时间:</span>
            <input type="datetime-local" name="end-time" class="form-control" th:value="${endTime}"> </p>
        <div class="option-block"><button class="btn btn-success" id="addOption">新增投票选项</button>
            <button class="btn btn-danger" id="delOption">删除投票选项</button></div>
        <div class="vote-block" th:if="${voteInfo}==null">
            <p class="vote_option" th:if="${voteInfo}==null"><span>选项1:</span>
                <input class="form-control" type="text" name="vote_option"></p>
            <p class="vote_option" th:if="${voteInfo}==null"><span>选项2:</span>
                <input class="form-control" type="text" name="vote_option"></p>
        </div>
        <div class="vote-block" th:if="${voteInfo}!=null">
            <p class="vote_option" th:each="voteOpt,stat:${voteInfo.topicOptionList}">
                <span th:text="'选项'+${stat.index+1}"></span>
                <input class="form-control" type="text" name="vote_option" th:value="${voteOpt.name}"></p>
        </div>
        <p><button class="btn btn-success" id="send-vote">发起投票</button></p>
    </div>
    <script th:src="'/'+${local}+'/js/core/jquery-3.2.1.js'"></script>
    <script th:src="'/'+${local}+'/js/core/popper.min.js'"></script>
    <script th:src="'/'+${local}+'/js/core/bootstrap.js'"></script>
    <script th:src="'/'+${local}+'/js/voteUpload.js'"></script>
</body>
</html>