header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color:#474747;
}
header>label{
    display:inline-block;
    margin-left: 4%;
    padding: 2px 0;
}
header >label >a{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
}
header>label >a:hover,header>label >a:visited{
    color: #fff;
    text-decoration: none;
}

#search-vote{
    margin-left: 12%;
    width:30%;
    display:inline-block;
}
header #search-btn{
    width: auto;
    float: none;
}
header >button:first-of-type{
    margin-top: -5px;
    margin-left: 1%;
}
header div,header>button:last-of-type{
    float:right;
    margin: 9px 20px;
}
header>button:last-of-type{
    width:80px;
}
dropdown-item:hover{
    color:#fff;
    background-color: #007bff;
}