body{
    background-color: #e4e3e3;
}
table{
    width:1000px;
    margin:50px auto 0px auto;
    background-color:#378194;
    border-right: 1px solid #ccc;
}
tr{
    border-bottom: 1px  solid #000;
}

td.left-block,td.right-block{
    display: inline-block;
}

td.left-block{
    width:25%;
    vertical-align: top;
}

td.right-block{
    width:75%;
    min-height: 400px;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.77);
}

td.left-block img{
    width:200px;
    height:200px;
    margin:30px auto;
    display: block;
}
td.left-block p{
    text-align: center;
    margin:10px;
    color: #fff;
}
td.left-block p:nth-of-type(n+2){
    text-align:left;
    margin:30px 50px 10px 50px;
    WORD-BREAK: break-all;
}

td.right-block p{
    margin:10px
}
td.right-block h1{
    color: #fff;
    background: #016c9f;
    padding: 5px 15px;
    margin:0px -2px;
}
td.right-block h5{
    margin: 20px 0px 0px 20px;
    font-weight: bold;
}
td.right-block .vote_type{
    color: #ef0404;
    margin-left: 10px;
}

td.right-block div.vote-progress {
    display: inline-block;
    width: 48%;
    margin-left: 10px;
}

input[name='vote_option']{
    margin:0px 20px;
}

td.right-block button{
    width: 20%;
    line-height: 30px;
    font-size: 18px;
    margin:  20px;
}
td.right-block span.vote-line{
    display: inline-block;
    width:30%;
}
span.vote-count{
    margin-left: 1.5%;
}
span.vote-time{
    font-size: x-large;
    margin:0px 10px;
}
td.right-block p,td.right-block h6{
    margin:10px 20px;
}
div.message-block{
    width: 1000px;
    margin: 0px auto 10px auto;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #eaeaea;
    background-color:#2c7284;
}
div.message-block:last-of-type{
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}
div.send-message{
    width:600px;
    margin:0px auto 50px auto;
    min-height: 300px;
    padding:20px 0;
}

div.send-message textarea{
    width:100%;
}
div.send-message h3{
    color:#fff;
}

div.send-message button{
    float:right;
    margin-top: 10px;
    width: 100px;
}

div.skip-block{
    width: 600px;
    margin: 0px auto;
    padding: 10px 20px;
}
div.skip-block input[type='number'],div.skip-block button,div.skip-block span{
    margin:0px 10px;
    display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
div.skip-block input[type='number']{
    width: 15%;
    -webkit-appearance: none;
}
div.skip-block button{
    margin-top: -5px;
}
div.skip-block button:first-of-type{
    margin-left: 8%;
}
div.skip-block button:nth-of-type(2){
    width:16%;
}
.right-block p.message-info{
    border-bottom: 1px solid #000;
    margin: 0px;
    padding: 10px 20px;
}

.message-info span{
    display: inline-block;
}
.message-info span:last-of-type{
    float:right;
}
.send-message >span{
    color: #fff;
    padding: 20px 10px 0px 10px;
    margin-top: 0px;
    display: inline-block;
}