body{
    background-color: #eaeaea;
}

div.main-container{
    padding:10px;
    width:800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 0.2em;
}

div.main-container h1{
    background-color: #17a2b8;
    color: #fff;
    padding: 10px 0px 10px 20px;
    margin: -10px -10px 20px -10px;
    border-radius: 0.1em;
}

div.main-container p{
    margin-left: 10px;
}


.main-container p#max_count{
    display: none;
}

div.option-block{
    margin: 10px 109px;
}

.main-container button{
    width: 120px;
    line-height: 30px;
}

.main-container button:first-of-type{
    margin-right: 20px;
    margin-left: 1%;
}

#send-vote{
    width: 50%;
    margin: 0 25%;
    height: 60px;
    font-size: 20px;
}
span{
    width:100px;
    display: inline-block;
}

.main-container input,.main-container textarea{
    width:80%;
    display: inline-block;
}
.main-container textarea{
    margin-left: -0.5%;
}
.main-container input[type='date'],.main-container input[type='number']{
    margin-left: 0.5%;
}

.main-container input[type='radio']{
    width:5%;
}